@model IEnumerable<KhehraReasturant.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<div class="mt-5">

</div>
<div class="mt-5">

</div>
<h1>Index</h1>

<p>
    <div class="mt-5">

    </div>
    <a asp-action="Create">Create New</a>
</p>
<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DitearyRestrictions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DitearyRestrictions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
